.container {
  width: 100vw;
  height: 100vh;
}

.header {
  height: 70px;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 0 100px;
}

.logoImage {
  width: 150px;
  height: auto;
}

.headerNavWrapper {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.navText {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #313131;
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.navIcon {
  margin-right: 10px;
}

.navList {
  padding: 0;
  padding: 3px 0;
  display: flex;
  align-items: center;
  list-style: none;
  border-left: 1px solid #dddddd;
}

.navItem {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  margin: 0 20px;
  cursor: pointer;
}

.navItem:hover {
  opacity: 0.8;
}

.navItem_highlighted {
  color: #fcc760;
}

.bookNowBtn {
  padding: 10px 20px;
  border: 1px solid #fcc761;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #fcc761;
  background-color: #fff;
  cursor: pointer;
}

.bookNowBtn:hover {
  opacity: 0.8;
}
